@font-face {
    font-family: GilroyRegular;
    src: url('./fonts/Gilroy-Regular.ttf');
}

@font-face{
    font-family: inter;
    src: url('./fonts/inter.zip');
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: GilroyRegular;
}

.firstpage{
    background-image: url(../media/furniturebg.png);
    background-size: 100% 100%;
    height: 1084px;
}

nav{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding-top: 40px;
    margin-left: 110px;
    margin-right: 120px; 
    color: white;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 100px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    color: white;
    gap: 30px;
}

main h1{
    text-align: center;
    font-size: 80px;
}

main p{
    font-size: 24px;
    opacity: 0.7;
    text-align: center;
    line-height: 30px;
    word-spacing: 2px;
}

.searchbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.86px solid #969595;
    border-radius: 42px;
    width: 344px;
    height: 56px;
    margin-top: 10px;
    backdrop-filter: blur(5px) brightness(1.5);
}

.searchbar p{ 
    font-size: 18px;
    margin-left: 20px;
}

.searchbar img{
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.why-us{
    display: flex;
    align-items: center;
    gap: 60px;
    margin:  40px;
    height: 300px;
}

.why-us h2{
    font-size: 42px;
    margin-right: 120px;
    margin-left: 50px;
}

.why-us div{
    font-size: 16px;
}

.why-us div h3{
    margin-bottom: 20px;
}

.why-us div p{
    line-height: 30px;
    color: #1E1E1E;
    opacity: 0.9;
}

.why-us div img{
    margin-top: 20px;
    height: 30px;
}

.bestsellers{
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
}

.bestsellers h1{
    margin-top: 40px;
    font-size: 38px;
    text-align: center;
}

.options{
    align-self: center;
    border: none;
    background-color: #EEEEEE;
    border-radius: 99px;
    width: 335px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.options ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    opacity: 0.6;
}

.options li{
    padding: 10px;
    width: 53px;
}

.options li:hover{
    background-color: #FFFFFF;
    border-radius: 99px;
}

.bestsellers section{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.bestseller{
    margin-top: 80px;
    font-family: inter;
}

.bestseller .product{
    position: relative;
    overflow: visible;
    background-color: #FAFAFA;
    width: 268.09px;
    height: 239.15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.bestseller .product .chairimg{
    position: absolute;
    top: -50px;
    margin-left: 20px;
}

.bestseller .product .arrowimgleft{
    position: absolute;
    top: 140px;
    left: -50px;
}

.bestseller .product .arrowimgright{
    position: absolute;
    top: 140px;
    right: -50px;
}

.bestseller .details{
    padding-left: 15px;
    background-color: #FFFFFF;
    width: 253px;
    height: 180px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.bestseller .details h6{
    opacity: 0.4;
    font-size: 16.76px;
    font-weight: 500;
    padding-top: 15px;
}

.bestseller .details h5{
    font-size: 21.33px;
    font-weight: 600;
}

.bestseller .rating{
    color: #F6B76F;
    font-size: 20px;
}

.bestseller .price{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 225.44px;
    line-height: 100px;
}

.bestseller .price h4{
    font-size: 21.33px;
    word-spacing: 1px;
}

.bestseller .price h4 sup{
    font-size: 15px;
    padding-right: 3px;
}

.bestsellers .more{
    margin: 50px;
    display: flex;
    justify-content: center;
}

.experiences{
    display: flex;
}

.experiences .image{
    padding-top: 300px;
    padding-bottom: 150px;
    position: relative;
}

.experiences .image .rectangle1{
    position: absolute;
    left: 0px;
    top: 230px;
}

.experiences .image .rectangle2{
    position: absolute;
    left: 200px;
    top: 390px;
}

.experiences .image .furnitureimg{
    position: absolute;
    left: 0px;
}

.experiences .text{
    padding-top: 370px;
    padding-left: 140px; 
}

.materials .text{
    padding-left: 80px;
    padding-top: 100px;
}

.text h3{
    font-size: 18px;
    color: #E58411;
    letter-spacing: 5px;
}

.text h2{
    font-size: 42px;
}

.text p{
    font-size: 18px;
    opacity: 0.5;
    line-height: 30px;
}

.materials{
    display: flex;
    gap: 218px;
    position: relative;
}

.materials .images{
    display: flex;
}

.materials .images .verticalimages{
    width: 300px;
}

.materials .images .imagewithrectangle{
    margin-top: 100px;
    position: relative;
}

.images div .rectangle3{
    position: absolute;
    right: -443px;
}

.tableimg{
    position: absolute;
    top: 70px;
    box-shadow: 30px 30px 60px rgba(22, 16, 7, 0.3);
    background-blend-mode: multiply;
}

.testimonials .cardbg{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url('../media/cardimg1.png');
    width: 370px;
    height: 476px;
}

.clientreview{
    background-color: #FFFFFF;
    width: 334px;
    height: 206px;
    /* display: grid;
    place-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18.12px;  
    margin-bottom: 20px;
    margin-left: 14px;
}

.clientreview h3{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.clientreview h6{
    font-size: 12px;
    opacity: 0.5;
    font-weight: 400;
}

.clientreview p{
    font-size: 14px;
    text-align: center;
    opacity: 0.7;
}

.profilephoto{
    position: absolute;
    top: 218px;
    left: 145px;
}