body{
    background-color: #611ECB;  
}
table{
    width: 70%;
    margin: 13% auto;
    border-collapse: collapse;
    background-color: #FFFFFF;
}
th{ 
    background-color: #F5F5F5;
    text-align: left;
}
td{
    border: 1px solid #E1CFFF;
    border-left: none;
    border-right: none;
 
}
tr:hover{
    background-color: #EEE3FF !important;
    color: #611ECB;
}
.star:hover{
    color: #611ECB !important;

}
